  /*========================= 1.0 HEADER =========================== */
header {
  height: 120px;
  background-color: 	rgba(255, 255, 255, 0.5);
}

/* 1.1 Upper Header */
#headerUpper, #headerLower {
  height: 50%;
  width: 100%;
  justify-content: space-between;
}

#logoContainer {
  flex-basis: 10%;
}

#logoContainer img {
  max-width: 100%;
  max-height: 100%;
}

#searchContainer {
  flex-basis: 35%;
  padding: 10px; 
  position: relative;
}

#searchContainer input {
  height: 70%;
  width: 100%;
  text-indent: 30px;
}

#searchContainer i{
  position: absolute;
  top: 13px;
  left: 15px;
  font-size: 1.25em;
}
#searchResults{
  width: 97.5%;
  position: absolute;
  top: 65%;
  z-index: 1;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

#searchResults p{
  padding: 10px;
}

#searchResults p:hover{
  background-color: #EEEEEE;
  cursor: pointer;
  
}

#searchResults p a{
  color: #111;
  display: block;
  width: 100%;
  height: 100%;
}

#userContainer {
  flex-basis: 15%;
  position: relative;
}

#userContainer .btn{
  width: 50%;
  font-size: 1.2em;
}

#userContainer .iconRight{
  margin-right: 10px;
}

#userContainer .iconLeft{
  margin-left: 10px;
}

#userContainer:hover ul{
  display: block;
}

#userContainer ul{
  display:none;
  position: absolute;
  width: 70%;
  height: auto;
  top: 85%;
  left: 25%;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0.5px 0.5px #888888;
}


#userContainer ul li{
  font-size: 0.95em;
  padding: 10px;
}

#userContainer ul li:hover{
  background-color: #888888;
  cursor: pointer;
}

/* 1.2 Lower Header */
#headerLower {
  border-bottom: 3px solid #2152bd;
}

nav {
  flex-basis: 80%;
  margin-left: 10px;
}

nav a {
  display: inline-block;
  height: 100%;
  padding: 20px 10px 10px;
  margin-right: 40px;
  font-weight: bold;
  color: #2152bd;
}

nav a:hover {
  color: yellow;
  cursor: pointer;
}

#cartContainer {
  flex-basis: 130px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  color: #2152bd;
}

#cartContainer:hover {
  background-color: aliceblue;
}

#cartContainer span{
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 10px;
}
#cartContainer i{
  font-size: 2.0em;
}

/*======================= x.0 Cart ===================================*/

#cartHeader{
	height: 10%;
}

#cartTitle{
  display: inline-block;
  margin: 10px auto;
  width: 70%;
  padding: 0 20px;
}

#cartTitle h2{
  font-size: 1.5em;
}

#cartContent{
	height: 80%;
}

#cartContent .cartItem{
	padding: 10px 10px 10px 30px;
	font-size: 1.3em;
}

.cartItemDesc{
  flex-basis: 50%;
}

.cartItemNum{
  flex-basis: 20%;
}

.cartItemPrice{
  flex-basis: 25%;
}
.cartItemRemove{
  flex-basis: 5%;
}

.cartItemRemove i:hover{
  cursor: pointer;
  color: red;
}

.cartItem .cartItemQuantity{
  text-align: center;
  display:inline-block;
  margin: 10px;
  width: 10%;
}

.cartItemPlus, .cartItemMinus{
  cursor: pointer;
}


/*======================= x.0 Register ==============================*/
#registerContainer{
  padding: 10px 20px;
}

#registerHeader{
	padding: 20px;
	border-bottom: 2px solid black;
	text-align: center;
}

#registerHeader h1{
	font-size: 1.5em;
}

#registerContainer form{
	padding: 50px 20px;
	width: 80%;
	margin: 0 auto;
}

#registerBtn{
	width: 100px;
	height: 45px;
	font-size: 1.2em;
} 

/*==============Activitylog=================*/ 

#filterBtn{
border-radius: 1.5em;
background-color: rosybrown; 
height:40px;
width:auto;
font-family: inherit;
}

#activity{
  padding: 30px;
 margin: 30px auto;
  background-color: salmon;
  font-family: inherit; 
  max-height:80%;
  width:80%;
  border-radius:0.7em;
  
  } 

  #activitySearch{
    border-radius:2em;
    background-color: rosybrown;
    height:40px;
    width:450px;
    font-family: inherit; 
    text-indent:30px;
  } 

  #activitySearchContainer i{
    position: absolute;
    top: 10px;
    left: 300px;
    font-size: 1.25em;
    
  }  
  #activity i{
    position:absolute;
    top:10px;
    left: 10px;
    font-size:1.2em
  } 

 #activitySearchContainer{
position:relative;

  } 

  /*========================= FOOTER =========================== */  
Footer{
  height:150px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}  
#fLogo{
  height:auto;
  width:auto;
  float: left;
  left:300px;
  } 

  #fAdd{
    height:100px;
    float:right;
    right:200px;
    font-size: 20px;
  }


 